.lightItem {
    font-size: 3rem;
}

@media (min-width: 768px) {
    .lightItem {
        font-size: 10rem;
    }
}

.alert {
    background-color: red;
    animation: mymove 1s infinite;
}

@keyframes mymove {
    from {background-color: red;}
    to {background-color: black;}
  }
